{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
        <meta name = 'robots' content = 'index, follow'>

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
        <link rel="icon" sizes="192x192" href="{% static 'favicon_io/android-chrome-192x192.png' %}">
        <link rel="icon" sizes="256x256" href="{% static 'favicon_io/android-chrome-512x512.png' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon_io/favicon.ico' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">

        <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel = 'stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

        <title> Subscription Successful | OwlphaDAO </title>
    </head>
    
    <body class="flex items-center justify-center min-h-screen">
        <div class="bg-white rounded-2xl shadow-xl p-8 max-w-md w-full text-center">
            <!-- Image placeholder -->
            <div class="flex justify-center mb-1">
                <img src="https://media.licdn.com/dms/image/v2/D4D0BAQHUyn95gj3h1A/company-logo_200_200/company-logo_200_200/0/1708529125650?e=1756944000&v=beta&t=I1o-tPph7ojP9QZQuo7DZQyoFaOYWpSl2leumF_oxIk" alt="OwlphaDAO" class="w-32 h-32 object-contain">
            </div>

            <h2 class="text-2xl font-semibold mb-2">Subscription Successful</h2>
            <p class="text-gray-600 mb-6 leading-relaxed">
                Thank you for subscribing! You’ll now receive exclusive updates and insights from <strong>OwlphaDAO</strong> straight to your inbox.
            </p>
        </div>
    </body>
</html>